from __future__ import annotations

import mechestim as me

from network_estimation import BaseEstimator, MLP


class Estimator(BaseEstimator):
    def predict(self, mlp: MLP, budget: int) -> me.ndarray:
        _ = budget
        return me.zeros((mlp.depth, mlp.width))
