from __future__ import annotations

import whest as we

from whestbench import BaseEstimator, MLP


class Estimator(BaseEstimator):
    def predict(self, mlp: MLP, budget: int) -> we.ndarray:
        _ = budget
        return we.zeros((mlp.depth, mlp.width))
